/*fonts*/
@font-face {
  font-family: 'Lato';
  src: url(../fonts/Lato/Lato-Light.ttf);

  font-family: 'WorkSans';
  src: url(../fonts/Work_Sans/WorkSans-Light.ttf);
}

/*navbar*/
.mynavbar{
  background-color: #0277BD;
}

.a-navbar{
  font-family: 'WorkSans';
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.img-navbar{
  width: 50px;
  height: 50px;
}

.mynavbar .button-nav{
  border: 2px solid;
}

.mynavbar .button-nav:hover{
  border: 2px solid #baddee;
}

/*footer*/
.myfooter{
  min-height: 10vh;
  background-color: #004C8C;
}

.myfooter .row{
  height: 100%;
  min-height: 10vh;
}

.myfooter .row .col {
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
}

.myfooter .row .col p{
  color: #ffffff;
  font-family: Lato;
  font-size: 18;
}
