/*main*/
.main-container{
  min-height: 90vh;
}

.main-container .form-row{
  min-height: 50vh;
}

.main-container .form-row .form-col{
  display: flex;
  justify-content: left;
  margin-left: 3%;
  margin-top: auto;
  margin-bottom: 3%;
}

.mylegend{
  font-family: WorkSans;
  font-size: 64px;
  font-weight: 500;
}

.query-input{
  background-color: #E5E5E5;
  border: none;
  height: 60px;
  font-family: WorkSans;
  font-size: 28px;
}

.query-btn{
  font-family: WorkSans;
  font-size: 28px;
  background-color: #4CAF50;
  height: 60px;
}

.main-container .info-row{
  min-height: 70vh;
}

.main-container .info-row .info-col{
  display: flex;
  justify-content: left;
  margin-left: 3%;
  margin-top: 0;
  margin-bottom: auto;
}

.info-txt{
  font-family: Lato;
  font-size: 140%;
  color: #000000;
}
