body{
  font-family: sans-serif;
}

/*fonts*/
@font-face {
  font-family: 'Lato';
  src: url(../fonts/Lato/Lato-Light.ttf);

  font-family: 'WorkSans';
  src: url(../fonts/Work_Sans/WorkSans-Light.ttf);
}

/*navbar*/
.mynavbar{
  background-color: #0277BD;
}

.a-navbar{
  font-family: 'WorkSans';
  font-size: 18px;
}

.mynavbar .container-fluid .a-navbar{
  color: #ffffff;
}

.mynavbar .container-fluid .a-navbar:hover{
  text-decoration: none;
  color: #ced4da;
}

.ul-navbar .li-navbar .a-navbar{
  color: #ffffff;
}

.ul-navbar .li-navbar .a-navbar:hover{
  text-decoration: none;
  color: #ced4da;
}

.img-navbar{
  width: 80px;
  height: 80px;
}
