/*main*/
.main-container{
  min-height: 90vh;
}

.main-container .form-row{
  min-height: 30vh;
}

.main-container .form-row .form-col{
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.main-container .form-row .form-col .form-inline{
  display: flex;
  justify-content: center;
}

.mylegend{
  display: flex;
  justify-content: center;
  font-family: WorkSans;
  font-size: 28px;
}

.query-input{
  background-color: #E5E5E5;
  border: none;
  font-family: WorkSans;
  font-size: 20px;
}

.query-btn{
  font-family: WorkSans;
  font-size: 20px;
  background-color: #4CAF50;
}

.toggle-row{
  min-height: 10vh;
  width: 100%;
}

.main-container .toggle-row .toggle-col{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}

.query-row{
  min-height: 10vh;
  width: 100%;
}

.main-container .quyer-row .quyer-col{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.vis-row{
  min-height: 10vh;
  width: 100%;
  margin-top: 0;
  /* display: flex;
  justify-content: center; */
}

.vis-col{
  width: 100%;
  /* min-height: 10vh; */
  /* display: flex; */
}

.rectangle:hover{
  opacity: 0.7;
}
