{% extends 'base.html' %}

{% block head %}
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/contactus.css') }}">
{% endblock %}

{% block main %}
<!-- start main container -->
<div class="main-container container-fluid">
  <div class="row ml-1 mr-3 mb-3">
    <div class="col mt-5">
      <p class="contactus-txt pr-4 pl-4 pt-2 pb-2">
        We love to hear from you
      </p>
    </div>
  </div>
  <div class="row ml-1 mr-3 mb-3">
    <div class="col mt-5">
      <p class="contactus-txt">
        Email: contactus@genomixgo.ca
      </p>
    </div>
  </div>
  <div class="row ml-1 mr-3 mb-3">
    <div class="col mt-5">
      <p class="contactus-txt">
        Phone: +1 204-xxx-xx-xx
      </p>
    </div>
  </div>
  <div class="row ml-1 mr-3 mb-3">
    <div class="col mt-5">
      <p class="contactus-txt">
        Address: XXXX Winnipeg, MB, Canada, YYY YYY
      </p>
    </div>
  </div>
</div>
<!-- end main container -->
{% endblock %}
