{% extends 'base.html' %}

{% block head %}
<header>
  <title>GenomixGo</title>
</header>
{% endblock %}

{% block body %}
<nav class="mynavbar navbar navbar-expand-lg navbar-fixed-top navbar-dark">
  <a class="navbar-brand a-navbar" href="#">
    <img class="img-navbar d-none d-xl-inline d-lg-inline d-md-inline d-sm-none" src="../static/img/logo.png" alt="GenomixGo logo">
    GENOMIXGO
  </a>
  <button class="button-nav navbar-toggler" type="button" data-toggle="collapse" data-target="#main_navbar" aria-controls="main_navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main_navbar">
    <ul class="ul-navbar navbar-nav ml-auto">
      <li class="li-navbar nav-item active mr-3">
        <a class="a-navbar nav-link" href="#">HOME</a>
      </li>
      <li class="li-navbar nav-item mr-3">
        <a class="a-navbar nav-link" href="#">ABOUT US</a>
      </li>
      <li class="li-navbar nav-item mr-3">
        <a class="a-navbar nav-link" href="#">CONTACT US</a>
      </li>
    </ul>
  </div>
</nav>


  <div class="container-fluid" style="margin-top:80px">
    <form action="{{url_for('query')}}" method="POST">
      <input id="query" type="text" name="query">
      <input type="submit" value="GO">
    </form>
  </div>

{% endblock %}
