{% extends 'base.html' %}
{% set active_page = "index" %}

{% block head %}
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/index.css') }}">
{% endblock %}

{% block main %}
<!-- start main container -->
<div class="main-container container-fluid">
  <!-- start form -->
  <div class="form-row">
    <div class="col-xl col-lg col-md col-sm col-xs form-col">
      <form class="form-inline" action="{{url_for('query')}}" method="POST">
        <legend class="mylegend">Hello Brilliant Mind!</legend>
        <div class="form-group mr-2">
          <input id="query" type="text" name="query" class="form-control
          query-input" placeholder="type in your query..." required>
        </div>
        <div class="form-group form-group-btn">
          <input type="submit" value="GO" class="btn btn-success query-btn">
        </div>
      </form>
    </div>
    <!-- end form -->
  </div>
  <!-- start info -->
  <div class="row info-row">
    <div class="col-xl col-lg col-md col-sm col-xs info-col text-wrap">
      <p class="text-break">
        Here is how you can make a query:<br>
        hasa:[nucleotide variant identifier].<br>
        The [nucleotide variant identifier] could look something like
        [sequence id]:[position]:[deletion]:[insertion]<br><br>
        Here are a some examples:<br>
        <b>hasa:</b>hgvs_gn:NC_011083.1:SEHA_RS24190:p.C28F<br>
        <b>hasa:</b>hgvs_gn:NC_011083.1:deoA:p.K218E<br>
        <b>hasa:</b>hgvs_gn:NC_011083.1:SEHA_RS13690:p.S239S<br>
      </p>
    </div>
  </div>
  <!-- end info -->
</div>
<!-- end main container -->

{% endblock %}
